@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 82% 94%;
    --foreground: 211 41% 17%;
    --card: 33 82% 97%;
    --card-foreground: 211 41% 17%;
    --popover: 33 82% 97%;
    --popover-foreground: 211 41% 17%;
    --primary: 14 55% 50%;
    --primary-foreground: 33 82% 98%;
    --secondary: 14 55% 85%;
    --secondary-foreground: 14 55% 40%;
    --muted: 33 50% 90%;
    --muted-foreground: 211 30% 40%;
    --accent: 89 23% 77%;
    --accent-foreground: 132 16% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 50% 88%;
    --input: 33 50% 88%;
    --ring: 14 55% 50%;
    --mission-background: 15 56% 50%;
  }

  .dark {
    --background: 211 41% 10%;
    --foreground: 33 82% 94%;
    --card: 211 41% 12%;
    --card-foreground: 33 82% 94%;
    --popover: 211 41% 10%;
    --popover-foreground: 33 82% 94%;
    --primary: 14 55% 55%;
    --primary-foreground: 33 82% 98%;
    --secondary: 211 41% 20%;
    --secondary-foreground: 33 82% 94%;
    --muted: 211 41% 20%;
    --muted-foreground: 33 50% 80%;
    --accent: 89 23% 30%;
    --accent-foreground: 33 82% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 41% 20%;
    --input: 211 41% 20%;
    --ring: 14 55% 55%;
    --mission-background: 15 56% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
